img {
  width: 250px;
}

#gallery-title {
  cursor: pointer;
}

#gallery-title-edit {
  display: none;
}

#image-upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
  border-radius: 5px;
  border: 2px solid red;
  padding: 10px;
}

input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=file] {
    padding:5px;
    border:2px solid #ccc;
    border-radius: 5px;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    border-radius: 5px;
}
