<!doctype html>
<html>

<head>
    <title>
        <%= context.title %>
    </title>
    <link href="gallery.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
</head>

<body>
    <a href="localhost:3000/"> <h1><%= context.title %></h1></a>
    <div>
        <form action="" method="POST" enctype="multipart/form-data">
            Enter Class Name : <input type="text" name="class">
            <textarea name="description" cols="75" rows="5"></textarea>
            <input type="file" name="image">
            <input type="submit" value="Add Character">
        </form>
        <img src="Diablo-II-icon.png" alt="Diablo II Logo" id="staticd2">
        <p>
          Upload your own Diablo II Character and see it filled in!
        </p>
    </div>
    <%= context.characterInfo.map((char) => { return '<div><h2>' + char.Class + '</h2>' + '<a href="' + char.Class + '"><img src="' + char.Path + '%" alt="' + char.Class + '"></a><b>' + char.Script + '</b></div>' }).join() %>
</body>


</html>
